<center><img src="./images/bot.jpg"/>
<h1 style="color:darkblue;">MarytereVBot</h1>
    <table style="color:darkblue;">
        <tr>
            <td>
                <h3>Para recibir saludo</h3>
            </td>
            <td>
                <h4>/soy nombre</h4>
            </td>
            <td>
                <h3>Para recibir una imagen</h3>
                </td>
            <td>
                <h4>/foto mono</h4>
                </td>
        </tr>

        <tr>
            <td>
                <h3>Para recibir una video</h3>
                </td>
            <td>
                <h4>/video puppet</h4>
                </td>
             <td>
                 <h3>Para recibir una ubicacion</h3>
                 </td>
            <td>
                <h4>/ubicacion utec</h4>
                </td>
        </tr>
    </table>
</center>